[webservers]
%{ for server in web_servers ~}
${server.name} ansible_host=${server.ip} fqdn=${server.fqdn}
%{ endfor ~}

[databases]
%{ for server in db_servers ~}
${server.name} ansible_host=${server.ip} fqdn=${server.fqdn}
%{ endfor ~}

[storage]
%{ for server in storage_servers ~}
${server.name} ansible_host=${server.ip} fqdn=${server.fqdn}
%{ endfor ~}
